#
# (c) $year$ $name$
#
# This file is part of $name$,
# released under Apache License Version 2.0 (http://www.apache.org/licenses/LICENCE).
#

build/
docs/
node_modules/
temporary/
tonpeifes/
tonpeifes.egg-info/
tools/
